@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>This page does only provide an example of my APS.NET MVC learning progress.</p>
<p>If you have any complaitns regarding the content available on this homepage, feel free to contact me via email.</p>

<address>
    <strong>Stephan Schauerte</strong><br />
    Bernadettestr. 16<br />
    <strong>Phone:</strong>+49 174 205 94 98<br />
    <strong>Mail:</strong><a href="mailto:stephan@schauerte.online">stephan@schauerte.online</a><br />
</address>