@model IEnumerable<CarConfigurator.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Display each available car with some basic information.
    From here a user should get to the build page where details for the
    car can be configured.
*@

<h2>Configurator overview</h2>
<p>Select a car you like to configure.</p>

@foreach (var car in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@car.Name</h3>
        </div>
        <div class="panel-body">
            <p>@car.Description</p>
            <p>Starting at <b>@car.Price</b> €</p>
            @Html.ActionLink("Configure now", "Build", "CarConfigurator", new { Id = car.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
}